body {
  /* margin: 0; */
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding: 5%; */
}

 code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

.headingFontsize{
  font-size: 2em;
  font-weight: 300 !important;
}

.mainTitle{
  font-size: 2em;
  font-weight: 300 !important;
}

.phoneFont{
  font-size: 1.5em;
  font-weight: 300 !important;
}
.itemCardWidth{
  max-width: 12em;
  /* max-height: 15em; */
}

.quantityInput{
  max-width: 5em;
}

.margin{
  margin-bottom: 2em;
  margin-right: 2em;
  width: 9em;
}

.position{
  position: fixed;
  /* width: 600px; */
  /* height: 200px; */
  /* left: 10%; */
  top: 50%;
  
  left: 5%;
  /* margin-left: -300px; */
}