body {
  /* margin: 0; */
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding: 5%; */
}

 code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

.headingFontsize{
  font-size: 2em;
  font-weight: 300 !important;
}

.mainTitle{
  font-size: 2.5em;
  font-weight: 400 !important;
}

.phoneFont{
  font-size: 1.5em;
  font-weight: 300 !important;
}